/*-----------------------------------*\
  #style.css
\*-----------------------------------*/


/* Cabin font import */

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

    /* Colors */

    --stronde-blue: #1a82cc;
    --stronde-dark-grey-1: #2c2c2c;
    --stronde-dark-grey-2: #575756;
    --stronde-dark-grey-heading: #060202;
    --stronde-white: #ffffff;
    --stronde-light-grey: hsl(0, 0%, 98%);

    /* Typography */

    --ff-stronde-cabin: "Cabin", sans-serif;

    --fs-1: 3rem;
    --fs-2: 2.7rem;
    --fs-3: 2.2rem;
    --fs-4: 1.8rem;
    --fs-5: 1.6rem;

    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-900: 900;

    /* Spacing */

    --section-padding: 60px;


    /* Shadows */

    --shadow-1: 0 2px 25px hsla(0, 0%, 0%, 0.025);
    --shadow-2: 0 8px 14px hsla(0, 0%, 0%, 0.04);
    --shadow-3: 0 14px 30px hsla(0, 0%, 0%, 0.05);

    /* Radius */

    --radius-6: 6px;
    --radius-12: 12px;
}


/*-----------------------------------*\
  #RESET STYLES
\*-----------------------------------*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.4;
}

/* These elements should generate a line break */

img {
    height: auto;
}

ion-icon {
    pointer-events: none;
}

html {
    font-family: var(--ff-stronde-cabin);
    font-size: 9px;
    scroll-behavior: smooth;
}


body {
    background-color: var(--stronde-light-grey);
    font-size: var(--fs-5);
    color: var(--stronde-dark-grey-2);
}


/*-----------------------------------*\
  #REUSED STYLES
\*-----------------------------------*/

.container {
    padding-inline: 20px;
}

.section {
    padding-block: var(--section-padding);
}

.section-title {
    color: var(--stronde-dark-grey-heading);
    font-size: var(--fs-1);
}

.section-subtitle {
    font-size: var(--fs-2);
}


.section-text {
    line-height: 1.7;
}


/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header {
    background-color: var(--stronde-white);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-block: 15px;
    box-shadow: var(--shadow-1);
    z-index: 5;
}

.header>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header .logo img {
    max-width: 250px;
}

.header .dropdown-menu {
    display: none;
}

.header .navbar {
    position: absolute;
    right: 0;
    padding-inline-end: inherit;
}


.navbar .nav-item {
    display: flex;
    align-items: center; 
    justify-content: flex-end;
    font-size: var(--fs-4);
    white-space: nowrap;
    padding-inline-end: 10px;
}

.navbar .nav-item span {
    margin-inline: 3px; 
}

.navbar .nav-item :is(.author, span:last-child) {
    vertical-align: middle;
}

.navbar .nav-item .ion-icon {
    pointer-events: all;
    cursor: pointer;
}

/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
    padding-block-start: calc(73px + var(--section-padding));
    height: 100vh;
}

.hero .hero-content {
    margin-inline: auto;
}

.hero .hero-list {
    padding-block: 20px;
    display: grid;
    gap: 10px;
}

.hero .brand-card {
    display: inline flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--stronde-white);
    padding: 20px;
    border-radius: var(--radius-6);
    box-shadow: var(--shadow-1);

}

.hero .brand-card a {
    color: var(--stronde-blue);
}

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

footer {
    background-color: var(--stronde-white);
    padding-block: 15px;
}

footer>.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

footer :is(p, .footer-link) {
    font-size: 12px;
    white-space: nowrap;
}

footer .footer-list {
    display: flex;
    justify-content: flex-end;
    color: var(--stronde-blue);
    gap: 10px;
}



/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/



/*  responsive for large than 480px screen */

 @media (min-width: 480px) {
/*-----------------------------------*\
  #REUSED STYLES
\*-----------------------------------*/

    .container {
        width: 90%;
        margin-inline: auto;
    }

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

    .header .nav-item{
        position: static;
        margin-inline-start: auto;
    }

}


/* responsive for large than 575px screen */

@media (min-width: 575px) {

/*-----------------------------------*\
  #REUSED STYLES
\*-----------------------------------*/

.container {
    width: 90%;
    margin-inline: auto;
}


/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

footer {
    width: 100%;
}
} 


/* responsive for large than 765px screen */

@media (min-width:765px) {

/*-----------------------------------*\
  #RESET STYLES
\*-----------------------------------*/

html {
    font-size: 10px;
}

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.container {
    max-width: 760px;
}


/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.container {
    max-width: 760px; 
}

.header .logo img {
    max-width: 300px;
}
    
}